<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
            text-align: center;
        }
    </style>
    <%

 %>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>
<table>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>글쓴이</td>
        <td>내용</td>
        <td>작성일</td>
        <td>조회수</td>
    </tr>
    <%
    for(var i = 0; i < rows.length; i++){
        var board_data = rows[i];
        var num = board_data.num;
    %>
    <tr>
        <td><%= board_data.num %></td>
        <td><a href="/board/read?num=<%= num %>"><%= board_data.subject %></a></td>
        <td><%= board_data.writer %></td>
        <td><%= board_data.write_content %></td>
        <td><%= board_data.write_date %></td>
        <td><%= board_data.count %></td>
    </tr>
    <%
    }
    %>
</table>
<button onclick="location.href='/board/write'">글쓰기</button>
</BODY>
<footer>
    <div id="block">
    <script class="page">
        const boardCount = `<%=boardCount%>`;
        const currentPage = `<%=currentPage%>`;
        const pageSize = `<%=pageSize%>`;
        const pageBlock = `<%=pageBlock%>`;

        const pageCount = (boardCount / (pageSize + (boardCount % pageSize === 0 ? 0 : 1)));
        const showBlock = boardCount/pageBlock;
        const pageLimit = currentPage * pageSize; //현재 페이지가 1이면 10 --> 무한히 증가하게 됨.
        const startPage = 1;
        const endPage = pageBlock;

        if(boardCount > 0){

            if(boardCount <= pageLimit){ //한 게시판이 10개 이하면

                document.write(`<a href="#">[이전]</a>`);
                document.write(`<a href="list?page=` + i +  `"` + `>[` + i + `]</a>`);
                document.write(`<a href="#">[다음]</a>`);

            }else if(boardCount > showBlock){

                document.write(`<a href="list?page=` + startPage + `"` + `>[이전]</a>`);
                for(var i = startPage; i < showBlock; i++){

                    document.write(`<a href="list?page=` + i + `"` +`>[` + i +`]</a>`);

                }
                document.write(`<a href="list?page=` + showBlock+1 + `"` + `>[다음]</a>`);

            }
        }

    </script>
    </div>
</footer>
</html>
