<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
            text-align: center;
        }
    </style>
    <%

 %>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>
<table>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>글쓴이</td>
        <td>내용</td>
        <td>작성일</td>
        <td>조회수</td>
    </tr>
    <%
    for(var i = 0; i < rows.length; i++){
        var board_data = rows[i];
        var num = board_data.num;
    %>
    <tr>
        <td><%= board_data.num %></td>
        <td><a href="/board/read?num=<%= num %>"><%= board_data.subject %></a></td>
        <td><%= board_data.writer %></td>
        <td><%= board_data.write_content %></td>
        <td><%= board_data.write_date %></td>
        <td><%= board_data.count %></td>
    </tr>
    <%
    }
    %>
</table>
<button onclick="location.href='/board/write'">글쓰기</button>
</BODY>
<footer>
    <div id="block">
<!--        const pageSize = 10;-->
<!--        const pageBlock = 10;-->
<!--        const currentPage = page;-->
<!--        const pageNumber = currentPage * pageSize;-->

<!--        const startRow=(currentPage-1)*pageSize;-->

<!--        const sql="SELECT * FROM board_table WHERE 1 ORDER BY num DESC LIMIT ?, ?";-->
<!--        const resultData = await db.queryInteger(sql, [startRow, pageSize]);-->
<!--        if(resultData===false){-->
<!--        throw "게시글 불러오기 실패.";-->
<!--        }-->

<!--        const count = "SELECT COUNT(*) FROM board_table"-->
<!--        const boardCount = await db.queryOne(count, []); = 27-->
    <script class="page">
        const currentPage = parseInt(`<%=currentPage%>`);
        const countResult = parseInt(`<%=countResult%>`);
        const pageSize = parseInt(`<%=pageSize%>`);
        const pageBlock = parseInt(`<%=pageBlock%>`);

        // const pageCount = (boardCount / (pageSize + (boardCount % pageSize === 0 ? 0 : 1))); // 27 / (10 + (27 % 10 === 1))
        const pageCount = Math.ceil(countResult / pageSize); //게시글이 27개에서 최대 게시글 출력양인 10으로 나누고 1을 더함.
        const pageLimit = currentPage * pageSize; //현재 페이지가 1이면 10 --> 무한히 증가하게 됨.
        let startPage = 1;
        let startBlock = Math.ceil(pageBlock);
        const addBlock = ((Math.floor(currentPage / pageBlock)) * 10) + 1; // 1/10-->0*10-->0+1 = 1, 11/10--> 1*10-->10+1 = 11, ...
        const prevBlock = addBlock - 1;
        const nextBlock = Math.ceil(addBlock + pageBlock);

        if(countResult > 0) { //게시글이 하나라도 존재할 때

            console.log(countResult); //127
            console.log(pageLimit); //130
            console.log(pageCount);
            console.log(currentPage);
            console.log(pageBlock);
            console.log(addBlock);
            console.log(nextBlock);
            console.log(Math.ceil(addBlock + (pageBlock -1)));
            console.log(currentPage-(pageBlock-startPage));
            console.log(prevBlock);
            console.log(prevBlock/(currentPage/pageBlock));

            if (countResult <= pageSize) { //전체 게시글이 10개 <= 10

                document.write(`<a href="#">[이전]</a>`);

                for (let i = startPage; i <= startPage; i++) {

                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`); //첫 페이지만 활성

                }

                document.write(`<a href="#">[다음]</a>`);

            } else if (countResult > pageSize) { //전체 게시글이 10개를 초과할 때

                if (currentPage === startPage) { //현재 페이지가 1이면

                    document.write(`<a href="list?page=` + startPage + `"` + `>[이전]</a>`);

                    if (pageCount <= pageLimit) { //페이지 수가 페이지 한계인 10 이하일 때

                        for (let i = startPage; i <= pageCount; i++) {

                            document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                        }

                        document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //블록 맨 끝으로 이동

                    } else if (pageCount > pageLimit) { //페이지 수가 페이지 한계인 10을 초과할 때; 총 게시글 수가 100개가 넘을 때 ex) 11...>10

                        for (let i = startPage; i <= startBlock; i++) {

                            document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                        }

                        document.write(`<a href="list?page=` + Math.ceil(startPage + startBlock) + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                    }

                } else if (currentPage !== startPage) { //현재 첫 페이지가 아닌 상태

                    if (currentPage % pageBlock === 0) { //현재 페이지가 10의 배수일 때; 10, 20, 30, ...

                        if (currentPage === pageBlock) { //현재 페이지가 10일 때

                            if (countResult <= pageLimit) { //이 상태에서 페이지 블록의 한계는 최소 100이 된다. 그 최소값보다 게시글이 적을 때

                                document.write(`<a href="list?page=` + Math.ceil(startPage) + `"` + `>[이전]</a>`); //1페이지로

                                //const addBlock = ((Math.floor(currentPage / pageBlock)) * 10) + 1; 1/10-->0*10-->0+1 = 1, 11/10--> 1*10-->10+1 = 11, ...
                                for (let i = addBlock; i <= pageCount; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                            }else if (countResult > pageLimit) { //게시글 수가 블록의 한계를 넘을 때

                                document.write(`<a href="list?page=` + Math.ceil(startPage) + `"` + `>[이전]</a>`); //1페이지로

                                for (let i = startPage; i <= startBlock; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + Math.ceil(startPage + startBlock) + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                            }
                        }else if (currentPage !== pageBlock) { //현재 페이지가 10이 아닌 20, 30일 때

                            if (countResult <= pageLimit) { //이 상태에서 페이지 블록의 한계는 최소 100이 된다. 그 최소값보다 게시글이 적을 때
                                //const prevBlock = addBlock - 1 = ((Math.floor(currentPage / pageBlock)) * 10);
                                document.write(`<a href="list?page=` + Math.ceil(prevBlock/(currentPage/pageBlock)) + `"` + `>[이전]</a>`); //이전 블록의 마지막 블록 페이지로

                                for (let i = currentPage-(pageBlock-startPage); i <= pageCount; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //최대 카운트 수까지만 이동 가능

                            }else if (countResult > pageLimit) { //게시글 수가 블록의 한계를 넘을 때

                                 document.write(`<a href="list?page=` + Math.ceil(prevBlock/(currentPage/pageBlock)) + `"` + `>[이전]</a>`); //이전 블록의 마지막 블록으로

                                 for (let i =  currentPage-(pageBlock-startPage); i <= prevBlock; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + nextBlock + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                            }
                        }

                    }else if (currentPage % pageBlock !== 0) { //현재 페이지가 10의 배수가 아닐 때

                        if(currentPage < pageBlock){// 2, 3, 4, ...

                            if (countResult <= pageLimit) { //이 상태에서 페이지 블록의 한계는 최소 100이 된다. 그 최소값보다 게시글이 적을 때

                                document.write(`<a href="list?page=` + Math.ceil(startPage) + `"` + `>[이전]</a>`); //1페이지로

                                //const addBlock = ((Math.floor(currentPage / pageBlock)) * 10) + 1; 1/10-->0*10-->0+1 = 1, 11/10--> 1*10-->10+1 = 11, ...
                                for (let i = addBlock; i <= pageCount; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                            }else if (countResult > pageLimit) { //게시글 수가 블록의 한계를 넘을 때

                                document.write(`<a href="list?page=` + Math.ceil(startPage) + `"` + `>[이전]</a>`); //1페이지로

                                for (let i = startPage; i <= startBlock; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + Math.ceil(startPage + startBlock) + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동
                            }
                        }else if(currentPage > pageBlock) { // 11, 12, 13, ...

                            if (countResult <= pageLimit) { //이 상태에서 페이지 블록의 한계는 최소 100이 된다. 그 최소값보다 게시글이 적을 때

                                document.write(`<a href="list?page=` + Math.ceil(prevBlock) + `"` + `>[이전]</a>`); //1페이지로

                                //const addBlock = ((Math.floor(currentPage / pageBlock)) * 10) + 1; 1/10-->0*10-->0+1 = 1, 11/10--> 1*10-->10+1 = 11, ...
                                for (let i = addBlock; i <= pageCount; i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                            }else if (countResult > pageLimit) { //게시글 수가 블록의 한계를 넘을 때

                                document.write(`<a href="list?page=` + Math.ceil(prevBlock) + `"` + `>[이전]</a>`); //이전 블록의 마지막 블록으로

                                for (let i = addBlock; i <= Math.ceil(addBlock + (pageBlock -1)); i++) {

                                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);

                                }

                                document.write(`<a href="list?page=` + nextBlock + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동
                            }
                        }
                    }
                }
            }
        }
    </script>
    </div>
</footer>
</html>
