<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
            text-align: center;
        }
    </style>
    <%

 %>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>
<table>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>글쓴이</td>
        <td>내용</td>
        <td>작성일</td>
        <td>조회수</td>
    </tr>
    <%
    for(var i = 0; i < rows.length; i++){
        var board_data = rows[i];
        var num = board_data.num;
    %>
    <tr>
        <td><%= board_data.num %></td>
        <td><a href="/board/read?num=<%= num %>"><%= board_data.subject %></a></td>
        <td><%= board_data.writer %></td>
        <td><%= board_data.write_content %></td>
        <td><%= board_data.write_date %></td>
        <td><%= board_data.count %></td>
    </tr>
    <%
    }
    %>
</table>
<button onclick="location.href='/board/write'">글쓰기</button>
</BODY>
<footer>
    <div id="block">
<!--        const pageSize = 10;-->
<!--        const pageBlock = 10;-->
<!--        const currentPage = page;-->
<!--        const pageNumber = currentPage * pageSize;-->

<!--        const startRow=(currentPage-1)*pageSize;-->

<!--        const sql="SELECT * FROM board_table WHERE 1 ORDER BY num DESC LIMIT ?, ?";-->
<!--        const resultData = await db.queryInteger(sql, [startRow, pageSize]);-->
<!--        if(resultData===false){-->
<!--        throw "게시글 불러오기 실패.";-->
<!--        }-->

<!--        const count = "SELECT COUNT(*) FROM board_table"-->
<!--        const boardCount = await db.queryOne(count, []); = 27-->
    <script class="page">
        const currentPage = parseInt(`<%=currentPage%>`);
        const countResult = parseInt(`<%=countResult%>`);
        const pageSize = parseInt(`<%=pageSize%>`);
        const pageBlock = `<%=pageBlock%>`;

        // const pageCount = (boardCount / (pageSize + (boardCount % pageSize === 0 ? 0 : 1))); // 27 / (10 + (27 % 10 === 1))
        const pageCount = Math.ceil(countResult / pageSize); //게시글이 27개에서 최대 게시글 출력양인 10으로 나누고 1을 더함.
        const pageLimit = currentPage * pageSize; //현재 페이지가 1이면 10 --> 무한히 증가하게 됨.
        const startPage = 1;
        const nextPage = countResult / pageBlock;
        let startBlock = parseInt(pageBlock);
        let addBlock = 0;
        let nextBlock = 0;

        if(countResult > 0) { //게시글이 하나라도 존재할 때
            console.log(pageCount);
            console.log(countResult);
            console.log(pageLimit);
            console.log(nextPage);
            console.log(addBlock);
            console.log(nextBlock);
            console.log(startBlock);

            if (countResult <= pageSize && nextPage <= startPage) { //전체 게시글이 10개 <= 10 그리고 페이지로 넘어갈 수가 한 페이지도 못 채울 때

                document.write(`<a href="#">[이전]</a>`);

                for (let i = startPage; i <= startPage; i++) {

                    document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`); //첫 페이지만 활성

                }

                document.write(`<a href="#">[다음]</a>`);

            }else if (countResult > pageSize && nextPage > startPage) { //전체 게시글이 10개를 초과할 때 그리고 페이지로 넘어갈 수가 한 페이지를 넘길 때

                if (currentPage === startPage) { //현재 페이지가 1이면

                        document.write(`<a href="#">[이전]</a>`);

                        for (let i = startPage; i <= pageCount; i++) {
                            document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);
                        }

                        if (pageCount <= startBlock) { //페이지 수가 기본 블록수인 10개 이하일 때

                            document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //블록 맨 끝으로 이동

                        }else if (pageCount > startBlock) { //페이지 수가 기본 블록수인 10개를 초과할 때 ex) 11...>10

                            addBlock = startBlock + pageCount - 1; //블록 쌓기 --> 20, 30...
                            nextBlock = addBlock + 1; //다음 페이지 블록의 첫번째 블록
                            document.write(`<a href="list?page=` + nextBlock + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                        }

                }else if (currentPage !== startPage) { //현재 첫 페이지가 아닌 상태

                    if (pageCount <= startBlock) { //페이지 수가 기본 블록수인 10개 이하일 때

                        document.write(`<a href="list?page=` + startPage + `"` + `>[이전]</a>`); //처음 블록의 첫페이지로 이동

                        for (let i = startPage; i <= pageCount; i++) {
                            document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);
                        }

                        document.write(`<a href="list?page=` + pageCount + `"` + `>[다음]</a>`); //처음 블록 맨 끝으로 이동

                    }else if (pageCount > startBlock) { //페이지 수가 기본 블록수인 10개를 초과할 때

                        document.write(`<a href="list?page=` + startBlock + `"` + `>[이전]</a>`); //이전 블록의 첫 블록로 이동

                        addBlock = startBlock + pageCount - 1; //블록 쌓기 --> 20, 30...
                        nextBlock = addBlock + 1; //다음 페이지 블록의 첫번째 블록
                        console.log(addBlock);
                        console.log(nextBlock);

                        for (let i = startPage; i <= pageCount; i++) {
                            document.write(`<a href="list?page=` + i + `"` + `>[` + i + `]</a>`);
                        }

                        document.write(`<a href="list?page=` + nextBlock + `"` + `>[다음]</a>`); //다음 블록의 첫페이지로 이동

                    }
                }
            }
        }

    </script>
    </div>
</footer>
</html>
