<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>

        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
        }
        ul li{list-style: none;}
    </style>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
     function check() {
       const question = confirm('삭제하시겠습니까?');
       if(question === true){
           location.href="/board/delete?num=<%=rows.num%>";
       }else{
           alert('취소하였습니다.')
           location.href="/board/read?num=<%=rows.num%>";
       }
     }

     function hideDiv(id) {
         let div = document.getElementById(id);
         div.style.display = "none";
         document.body.appendChild(div);
     }


     function showReple(reple_number) {
         const reply = document.getElementById(reple_number);
         const textBox = document.getElementById("textBox");
         const reple_reple_content = document.getElementsByName("reple_reple_content");
         const reple_parent = document.getElementsByName("reple_parent");
         const reple_writer = document.getElementsByName("reple_writer");

         textBox.style.display="";

         reple_reple_content.value="";
         reple_parent.value=reple_number;
         reply.appendChild(textBox);
         reple_writer.focus;

     }

</script>
<table border="1" width="800">
        <tr>
            <td>번호</td><td><%=rows.num%></td>
        </tr>
        <tr>
            <td>작성일</td><td><%=rows.write_date%></td>
        </tr>
        <tr>
            <td>조회수</td><td><%=rows.count%></td>
        </tr>
        <tr>
            <td>제목</td><td><%=rows.subject%></td>
        </tr>
        <tr>
            <td>글쓴이</td><td><%=rows.writer%></td>
        </tr>
        <tr>
            <td>내용</td><td><%=rows.write_content%></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button onclick="location.href='/board/update?num=<%=rows.num%>'">수정</button>
                <button onclick="check()">삭제</button>
            </td>
        </tr>
    </table>
<table border="1" width=800">
    <tr>
        <td colspan="4" align="center">댓글</td>
    </tr>
    <%
    for(var i = 0; i < reple.length; i++){
        var reple_data = reple[i];
        %>
    <tr>
        <td colspan="2" align="center"><%=reple_data.reple_writer%></td>
        <td colspan="2" align="center"><%=reple_data.reple_date%></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=reple_data.reple_content%><br>
            <button onclick="location.href='/board/repleUpdate?num=<%=rows.num%>&reple_num=<%=reple_data.reple_num%>'">수정</button>
            <button onclick="location.href='/board/repleDelete?num=<%=rows.num%>&reple_num=<%=reple_data.reple_num%>'">삭제</button>
            <div class="commentBox">
                    <a class="commentBtn" onclick="showReple(<%=reple_data.reple_num%>)">[댓글달기]</a>
                <div id="<%=reple_data.reple_num%>"><%=reple_data.reple_reple_content%></div>
                    <div id="textBox" style="display:none">
                    <form name="repleForm" action="/board/repleADD" method="post">
                        글쓴이: <input size="70" type="text" name="reple_writer" /><br>
                        내용: <input size="70" type="text" name="reple_reple_content" />
                        <input type="hidden" name="reple_num" value="<%=reple_data.reple_num%>" />
                        <input type="hidden" name="reple_parent" value="<%=reple_data.reple_parent%>" />
                        <input type="submit" value="등록" />
                    </form>
                </div>
            </div>
        </td>
    </tr>
 <%
 }
 %>
</table>
<form action="/board/repleWrite" method="post">
    <table border="1" width=800">
    <tr>
        <td>글쓴이</td><td colspan="3"><input size="70" type="text" name="reple_writer" value="<%=reple_data.reple_writer%>"></td>
    </tr>
    <tr>
        <td>내용</td>
        <td colspan="3"><input size="70" type="text" name="reple_content" value="<%=reple_data.reple_content%>" /></td>
    </tr>
    <tr>
        <td colspan="4" align="center">
            <input type="hidden" name="num" value="<%=rows.num%>" />
            <input type="submit" value="등록" />
        </td>
    </tr>
</table>
</form>
<button onclick="location.href='/board/list'">돌아가기</button>
</BODY>

</html>