<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>


        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
        }
        ul li{list-style: none;}
    </style>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>

<table border="1" width="800">
        <tr>
            <td>번호</td><td><%=rows.num%></td>
        </tr>
        <tr>
            <td>작성일</td><td><%=rows.write_date%></td>
        </tr>
        <tr>
            <td>조회수</td><td><%=rows.count%></td>
        </tr>
        <tr>
            <td>제목</td><td><%=rows.subject%></td>
        </tr>
        <tr>
            <td>글쓴이</td><td><%=rows.writer%></td>
        </tr>
        <tr>
            <td>내용</td><td><%=rows.write_content%></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button onclick="location.href='/board/update?num=<%=rows.num%>'">수정</button>
                <button onclick="check()">삭제</button>
            </td>
        </tr>
    </table>
<table border="1" width=800">
    <tr>
        <td colspan="4" align="center">댓글</td>
    </tr>
    <%
    for(let i = 0; i < reply.length; i++){

        const reply_data = reply[i];

        const reply_num = reply_data.reply_num;

         %>
<script>
    // $(function (){
    //
    //     const href = "back/board/read.js";
    //
    //     $.ajax({
    //         url: href,
    //         type: "post",
    //         dataType: "jsonp"
    //     }).done(function replyData(reply_data){
    //         if(reply_data.length > 0){
    //
    //         }
    //     })
    // })
</script>

    <tr>
        <td colspan="2" align="center"><%=reply_data.reply_writer%></td>
        <td colspan="2" align="center"><%=reply_data.reply_date%></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=reply_data.reply_content%><br>
            <button onclick="showReply(<%=reply_num%>)">[댓글수정]</button>
            <button onclick="location.href='/board/replyDelete?num=<%=rows.num%>&reply_num=<%=reply_data.reply_num%>'">삭제</button><br>
            <div id="<%=reply_num%>" style="display: none ">

                            글쓴이: <input size="70" type="text" id="reply_writer_update" name="reply_writer" value="<%=reply_data.reply_writer%>" /><br>
                            내용: <input size="70" type="text" id="reply_content_update"  name="reply_content" value="<%=reply_data.reply_content%>" />
                            <input type="hidden" id="num_update" name="num" value="<%=rows.num%>" />
                            <input type="hidden" id="reply_num_update" name="reply_num" value="<%=reply_data.reply_num%>" /><br>
                            <button id="replyUpdate">[댓글수정완료]</button>

                    </div>
            </td>
    </tr>
 <%
 }
 %>
</table>
<table border="1" width=800">
    <tr>
        <td>글쓴이</td><td colspan="3"><input size="70" type="text" id="reply_writer_add" name="reply_writer" /></td>
    </tr>
    <tr>
        <td>내용</td>
        <td colspan="3"><input size="70" type="text" id="reply_content_add" name="reply_content" /></td>
    </tr>
    <tr>
        <td colspan="4" align="center">
            <input type="hidden" name="num" id="num_add" value="<%=rows.num%>" />
            <button id="replyWrite">댓글등록</button>
        </td>
    </tr>
</table>
<button onclick="location.href='/board/list'">돌아가기</button>

<script>

    $(function (){

        $("#replyUpdate").off("click").on("click", function (d) { //이벤트 바인딩; 함수의 이벤트를 연결. 버튼을 누르면 아래 함수 내 코드 실행

            $.ajax({

                url: "/board/replyUpdate",
                type: "post",
                dataType: "json",
                data: {
                    reply_writer: $("#reply_writer_update").val(),
                    reply_content: $("#reply_content_update").val(),
                    num: $("#num_update").val(),
                    reply_num: $("#reply_num_update").val()
                },
                async : true,

                success: function () {
                    alert("댓글 수정 성공");
                    location.href="/board/read?num=<%=rows.num%>";
                }
            })
        })

        $("#replyWrite").off("click").on("click", function (e) { //이벤트 바인딩; 함수의 이벤트를 연결. 버튼을 누르면 아래 함수 내 코드 실행

            $.ajax({

                url: "/board/replyWrite",
                type: "post",
                dataType: "json",
                data: {
                    reply_writer: $("#reply_writer_add").val(),
                    reply_content: $("#reply_content_add").val(),
                    num: $("#num_add").val()
                },
                async : true,

                success: function () {
                    alert("댓글 작성 성공");
                    location.href="/board/read?num=<%=rows.num%>";
                },

                error: function (){
                    alert("댓글 작성 실패");
                    location.href="/board/read?num=<%=rows.num%>";
                }
            })
        })
 })

    function check() {
        const question = confirm('삭제하시겠습니까?');
        if(question === true){
            location.href="/board/delete?num=<%=rows.num%>";
        }else{
            alert('취소하였습니다.')
            location.href="/board/read?num=<%=rows.num%>";
        }
    }

    function hideDiv(id){
        const div = document.getElementById(id);
        div.style.display = "none";
    }

    let btn_toggle = 1;

    function showReply(reply_number) {
        if(btn_toggle === 1) {
            const reply_hidden = document.getElementById(reply_number);
            reply_hidden.style.display = "block";
            btn_toggle = -1;
            console.log(reply_number);
        }else{
            const reply_hidden = document.getElementById(reply_number);
            reply_hidden.style.display = "none";
            btn_toggle = 1;
            console.log(reply_number);

        }
    }

    // $(function(){
    //
    //     let btn_toggle = 1;
    //
    //     $(".commentBtn").css({
    //         "border":"1px solid #f00"
    //     });
    //
    //     $(".commentBtn").click(function() {
    //         if(btn_toggle === 1) {
    //             $(".reply_hidden").css({
    //                 "display": "block"
    //             })
    //             return btn_toggle = -1;
    //         }else{
    //             $(".reply_hidden").css({
    //                 "display": "none"
    //             })
    //             return btn_toggle = 1;
    //         }
    //
    //           $(`button[id="${reply_num}.css{'display: 'none'}"]`)
    //     });
    //
    //  });

</script>

</BODY>
</html>