<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>

        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
        }
        ul li{list-style: none;}
    </style>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
     function check() {
       const question = confirm('삭제하시겠습니까?');
       if(question === true){
           location.href="/board/delete?num=<%=rows.num%>";
       }else{
           alert('취소하였습니다.')
           location.href="/board/read?num=<%=rows.num%>";
       }
     }

     function hideDiv(id) {
         const div = document.getElementById(id);
         div.style.display = "none";
         document.body.appendChild(div);
     }

     let btn_toggle = 1;
     function showReply(reply_number) {
         if(btn_toggle === 1) {

             const reply = document.getElementById(reply_number);
             const textBox = document.getElementById("textBox");
             const reply_add_content = document.getElementsByName("reply_add_content");
             const reply_parent = document.getElementsByName("reply_parent");
             const reply_writer = document.getElementsByName("reply_writer");

             textBox.style.display = "";

             reply_add_content.value = "";
             reply_parent.value = reply_number;
             reply.appendChild(textBox);
             reply_writer.focus;

             btn_toggle = -1;

         }else{
             const textBox = document.getElementById("textBox");
             textBox.style.display = "none";
             btn_toggle = 1;
         }
     }

</script>
<table border="1" width="800">
        <tr>
            <td>번호</td><td><%=rows.num%></td>
        </tr>
        <tr>
            <td>작성일</td><td><%=rows.write_date%></td>
        </tr>
        <tr>
            <td>조회수</td><td><%=rows.count%></td>
        </tr>
        <tr>
            <td>제목</td><td><%=rows.subject%></td>
        </tr>
        <tr>
            <td>글쓴이</td><td><%=rows.writer%></td>
        </tr>
        <tr>
            <td>내용</td><td><%=rows.write_content%></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button onclick="location.href='/board/update?num=<%=rows.num%>'">수정</button>
                <button onclick="check()">삭제</button>
            </td>
        </tr>
    </table>
<table border="1" width=800">
    <tr>
        <td colspan="4" align="center">댓글</td>
    </tr>
    <%
    for(var i = 0; i < reply.length; i++){
        var reply_data = reply[i];
        %>
    <tr>
        <td colspan="2" align="center"><%=reply_data.reply_writer%></td>
        <td colspan="2" align="center"><%=reply_data.reply_date%></td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=reply_data.reply_content%><br>
            <button onclick="location.href='/board/replyUpdate?num=<%=rows.num%>&reply_num=<%=reply_data.reply_num%>'">수정</button>
            <button onclick="location.href='/board/replyDelete?num=<%=rows.num%>&reply_num=<%=reply_data.reply_num%>'">삭제</button>
            <div class="commentBox">
                <a class="commentBtn" onclick="showReply(<%=reply_data.reply_num%>)">[댓글달기]</a>
                <div id="<%=reply_data.reply_num%>"><%=reply_data.reply_add_content%>
                    <div id="textBox" style="display:none">
                        <form name="replyForm" action="/board/replyWrite" method="post">
                            글쓴이: <input size="70" type="text" name="reply_writer" /><br>
                            내용: <input size="70" type="text" name="reply_reply_content" />
                            <input type="hidden" name="num" value="<%=rows.num%>" />
                            <input type="hidden" name="reply_num" value="<%=reply_data.reply_num%>" />
                            <input type="hidden" name="reply_parent" value="<%=reply_data.reply_parent%>" />
                            <input type="submit" value="등록" />
                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
 <%
 }
 %>
</table>
<form action="/board/replyWrite" method="post">
    <table border="1" width=800">
    <tr>
        <td>글쓴이</td><td colspan="3"><input size="70" type="text" name="reply_writer" value="<%=reply_data.reply_writer%>"></td>
    </tr>
    <tr>
        <td>내용</td>
        <td colspan="3"><input size="70" type="text" name="reply_content" value="<%=reply_data.reply_content%>" /></td>
    </tr>
    <tr>
        <td colspan="4" align="center">
            <input type="hidden" name="num" value="<%=rows.num%>" />
            <input type="submit" value="등록" />
        </td>
    </tr>
</table>
</form>
<button onclick="location.href='/board/list'">돌아가기</button>
</BODY>

</html>