<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
        }
    </style>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>

<form method="post" action="/board/update" class="update">
    <table>
        <tr>
            <td>번호</td><td><input type="text" name="num" value="<%=rows.num%>" readonly></td>
        </tr>
        <tr>
            <td>작성일</td><td><input type="text" name="write_date" value="<%=rows.write_date%>" readonly></td>
        </tr>
        <tr>
            <td>조회수</td><td><input type="text" name="count" value="<%=rows.count%>" readonly></td>
        </tr>
        <tr>
            <td>제목</td><td><input type="text" name="subject" value="<%=rows.subject%>"></td>
        </tr>
        <tr>
            <td>글쓴이</td><td><input type="text" name="writer" value="<%=rows.writer%>"></td>
        </tr>
        <tr>
            <td>내용</td><td><textarea cols="23" rows="15" name="write_content"><%=rows.write_content%></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="확인"></td>
        </tr>
    </table>
</form>
<button onclick="location.href='/board/list'">돌아가기</button>
</BODY>
<footer>
    <script>

        $(function (){

            const $update = $(".update");

            $update.on("submit", function (e) {

                e.preventDefault(); //버튼을 눌러도 action 페이지로 이동 x
                const updateData = $update.serialize(); //form 요소에 작성한 값을 쿼리 스트링 데이터로 변환하여 writeData 에 대입

                $.ajax({

                    url: $update.attr("action"),
                    type: "post",
                    dataType: "json",
                    data: updateData,
                    async : true,

                    success: function () {
                        alert("본문 수정 성공");
                        location.href="/board/read?num=<%=rows.num%>";
                    }
                })
            })
        })

    </script>
</footer>
</html>