<!DOCTYPE HTML>
<html>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .top > ul > li {
            float: left;
            margin-left: 100px;
        }

        .start li {
            list-style: none;
        }

        .start li a {
            text-decoration: none;
        }

        .title {
            background-color: aqua;
        }

        .top {
            background-color: aquamarine;
            height: 50px;
        }

        table {
            margin-left: 500px;
        }

        td {
            width: 200px;
            height: 50px;
        }
    </style>
    <div class="title">
        게시판
        <nav class="top">
            <ul class="start">
                <li><a href="/board/list">게시판</a></li>
                <li><a href="/site">홈으로</a></li>
            </ul>
        </nav>
    </div>
</HEAD>
<BODY>

<form method="post" action="/board/update" class="update">
    <table>
        <tr>
            <td>번호</td><td><input id="num" type="text" name="num" value="<%=rows.num%>" readonly></td>
        </tr>
        <tr>
            <td>작성일</td><td><input id="write_date" type="text" name="write_date" value="<%=rows.write_date%>" readonly></td>
        </tr>
        <tr>
            <td>조회수</td><td><input id="count" type="text" name="count" value="<%=rows.count%>" readonly></td>
        </tr>
        <tr>
            <td>제목</td><td><input id="subject" type="text" name="subject" value="<%=rows.subject%>"></td>
        </tr>
        <tr>
            <td>글쓴이</td><td><input id="writer" type="text" name="writer" value="<%=rows.writer%>"></td>
        </tr>
        <tr>
            <td>내용</td><td><textarea id="write_content" cols="23" rows="15" name="write_content"><%=rows.write_content%></textarea></td>
        </tr>
        <tr>
            <td><button id="update_btn">수정 확인</button></td>
        </tr>
    </table>
</form>
<button onclick="location.href='/board/read?num=<%=rows.num%>'">이전 화면</button>
</BODY>
<footer>
    <script>

        $(function (){

            $("#update_btn").off("click").on("click", function (e) {

                $.ajax({

                    url: "/board/update",
                    type: "post",
                    dataType: "json",
                    data: {
                        num : $("#num").val(),
                        write_date : $("#write_date").val(),
                        count : $("#count").val(),
                        subject : $("#subject").val(),
                        writer : $("#writer").val(),
                        write_content : $("#write_content").val()
                    },
                    async : true,

                    success: function () {
                        alert("본문 수정 성공");
                        location.href="/board/read?num=<%=rows.num%>";
                    },

                    error: function () {
                        alert("본문 수정 실패");
                        location.href="/board/read?num=<%=rows.num%>";
                    }
                })
            })
        })

    </script>
</footer>
</html>